h1{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
.myClassLog{
    position: absolute;
    left: 1420px;
    top: 15px;
}
#btnlog{
    background-color: #44d0fa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 40px;
    border-radius:5px;
}
#btnlog:hover{
    opacity:0.8;
}

input[type=text], input[type=password]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    left:190px;
    border-radius:10px;
  }
  
  #btn {
    background-color: #44d0fa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 120px;
    position: relative;
    left:260px;
    border-radius:7px;
  }
  
  #btn:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 16px;
  }
  
.container-cart{
  background-color: #44d0fa;
  color: white;
  padding: 16px;
  margin: 8px 10px;
  border: none;
  border-radius:10px;
  width: 1200px;
  position: relative;
  left:120px
}
.container-cart  ul{
  list-style: none;
  padding: 0;
  margin: 0px 40px; 
  align-items: center;
}
.container-cart  ul li{
  border: none;
  border-radius:10px;
  text-decoration: none;
  display: inline;
  align-items: center;
  margin-right: 150px;
}

.container-cart-details{
  margin: 8px 10px;
  position: relative;
  left:130px
}

.container-cart-details ul{
  list-style: none;
  padding: 0;
  margin: 0px 40px; 
  align-items: center;
}
.container-cart-details  ul li{
  border: none;
  border-radius:10px;
  text-decoration: none;
  display: inline;
  align-items: center;
  margin-right: 160px;
}



.footer{
  position: relative;
  left:550px;
  top: 400px;
}
.footer a{
  text-decoration: none;
  color: black;
}
